
body {
    background: white;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 48px;
}

header {
    background-color: #24292e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    display: flex;
    padding: 8px 10px;
    box-sizing: border-box;
}

header > a {
    align-self: center;
    margin-left: 12px;
    color: white;
    text-decoration: none;
}

.qr-right-title {
    flex: 1;
    flex-direction: row-reverse;
    display: flex;
}

svg {
    fill: currentColor;
}

.qr-tips {
    opacity: 0.7;
    font-size: 14px;
    margin-right: 12px;
    align-self: center;
}

.qr-container {
    box-shadow: 0px 2px 3px 0px lightgray, 0px 0px 2px 0px lightgray;
    border-radius: 0px 0px 4px 4px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-input {
    width: 400px;
    height: 60px;
    word-break: break-all;
}

.qr-img {
    height: 360px;
    width: 360px;
    transition: filter ease .5s;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    padding: 20px;
}

.qr-input:focus + .qr-img {
    filter: blur(13px);
}

button.qr-add {
    height: 100px;
    width: 100px;
    font-size: 20px;
}


.facebook-wrapper {
    position: fixed;
    display: flex;
    top: 0;
    height: 80vh;
    bottom: 0;
    left: 4rem;
    right: 4rem;
    margin: auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.facebook-main {
    flex: 1;
    height: 100%;
    background-color: #fff;
}

.facebook-sidebar {
    width: 40%;
    background-color: #fff;
    padding: 32px;
    word-break: break-all;
    overflow: auto;
    border-left: 2px dashed gray;
}

@media (max-width: 800px) {
    .facebook-sidebar {
        display: none;
    }
}

.facebook-close {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 32px;
    cursor: pointer;
    fill: #ddd;
}
